
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <article>
       <section>
           <div class="movies-heading">
               <h2><a href="#">THÔNG TIN PHIM</a></h2>
           </div>
           @*<section id="detail-movie">
               <div class="detail-box">
                   <div class="detail-movie-img">
                       <div class="quality">HDrip</div>
                       <img src="~/Content/images/l-2.jpg" />
                   </div>
                    <button type="submit" class="btndetail"><a href="">Đặt phòng</a></button>
                   <button type="submit" class="btndetail"><a href="">Xem trailer</a></button>
               </div>
               <div class="detail-decripsion">

               </div>
           </section>
       </section>*@
           <section class="form-detail">
               <section class="details">
                   <div class="img-box">
                       <div class="detail-movie-img">
                           <img src="~/Content/images/l-2.jpg" />
                           <div class="detail-click">
                               <a href="#">Đặt phòng</a>
                               <a href="#">Xem trailer</a>
                           </div>
                       </div>
                   </div>
                   <div class="info">
                       <div class="movie-info">
                           <h1 class="entry-title">Tên bộ phim tiếng việt- Tên bộ phim tiếng anh</h1>
                           <p class="smalls-title">Tiêu đề nhỏ của bộ phim</p>
                           <p class="year">Năm: <a href="#">2021</a></p>
                           <p class="category">
                               Thể loại:
                               <a href="#">PHIM BOM TẤN - CHIẾU RẠP</a>,
                               <a href="#">Phim hồi hộp- gay cấn</a>,
                               <a href="#">Phim lẻ</a>,
                               <a href="#">Phim kinh dị</a>,
                               <a href="#">Phim nefflix</a>,
                           </p>
                           <p class="country">Quốc gia: <a href="#">Mỹ</a></p>
                           <p class="imdb">Điểm IMDB: <a href="#">6.5/10</a></p>
                       </div>
                   </div>
               </section>
               <div class="detail">
                   <div class="infomation">
                       <h1 class="detail-title-info">Bối cảnh phim</h1>
                       <p class="text">
                           Phim Fantastic Beasts And Where To Find Them 2016 là một bộ phim điện ảnh thần thoại viễn tưởng lấy ý tưởng từ tiểu thuyết của tác giả Newton Artemis Fido viết.
                           Nội dung bộ phim xoay quanh nhân vật huyền thoại Scamander của trường pháp thuật Hogwarts, bối cảnh hàng trăm năm trước khi Harry đặt chân đầu tiên vào Hogwarts.
                            một giáo sư sinh học sở hữu nhiều kĩ năng huyền bí và cũng là người có quyền lực.
                       </p>
                      
                   </div>
               </div>
           </section>
        </section>

    </article>
    <aside>
        <section>
            <div class="popular">
                <h2 class="popularmovie">Phim phổ biến</h2>
                <div class="mit">
                    <div class="scollItem">
                        <div class="thumbItems">
                            <img src="~/Content/images/l-1.jpg" />
                            <div class="thumbtitle">
                                <p class="thumbMovieName"><a href="#">Into darkness</a></p>
                                <div class="thumbmoviedetail">
                                    <p>Thể loại: <a href="">Hành động </a>, <a href="">Phiêu lưu</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scollItem">
                        <div class="thumbItems">
                            <img src="~/Content/images/l-1.jpg" />
                            <div class="thumbtitle">
                                <p class="thumbMovieName"><a href="#">Into darkness</a></p>
                                <div class="thumbmoviedetail">
                                    <p>Thể loại: <a href="">Hành động </a>, <a href="">Phiêu lưu</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scollItem">
                        <div class="thumbItems">
                            <img src="~/Content/images/l-1.jpg" />
                            <div class="thumbtitle">
                                <p class="thumbMovieName"><a href="#">Into darkness</a></p>
                                <div class="thumbmoviedetail">
                                    <p>Thể loại: <a href="">Hành động </a>, <a href="">Phiêu lưu</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scollItem">
                        <div class="thumbItems">
                            <img src="~/Content/images/l-1.jpg" />
                            <div class="thumbtitle">
                                <p class="thumbMovieName"><a href="#">Into darkness</a></p>
                                <div class="thumbmoviedetail">
                                    <p>Thể loại: <a href="">Hành động </a>, <a href="">Phiêu lưu</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scollItem">
                        <div class="thumbItems">
                            <img src="~/Content/images/l-1.jpg" />
                            <div class="thumbtitle">
                                <p class="thumbMovieName"><a href="#">Into darkness</a></p>
                                <div class="thumbmoviedetail">
                                    <p>Thể loại: <a href="">Hành động </a>, <a href="">Phiêu lưu</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </aside>
</div>

