@model IEnumerable<WEBFILM.Models.Movy>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <article>
        <section>
            <div class="movies-heading">
                <h2><a href="#">DANH SÁCH PHIM</a></h2>
            </div>
            <section id="movies-list">
                @foreach (var item in Model)
                {
                    <div class="movies-box">
                        <div class="movies-img">
                            <div class="quality">HDrip</div>
                            <img src="@item.Image" />
                        </div>
                        <a class="decription" href="/Home/Detail/@item.MovieID">
                            @item.Title | IMDB: @item.IMDb
                        </a>
                    </div>

                }
            </section>

                    @*<div class="movies-box">
                    <div class="movies-img">
                        <div class="quality">HDrip</div>
                        <img src="~/Content/images/l-2.jpg" />
                    </div>
                    <a class="decription" href="/Home/Detail">
                        Tên phim | Chất lượng |
                    </a>
                </div>
                <div class="movies-box">
                    <div class="movies-img">
                        <div class="quality">HDrip</div>
                        <img src="~/Content/images/l-3.jpg" />
                    </div>
                    <a class="decription" href="#">
                        Gia đình tiền sử (Vietsub) chất lượng 720
                    </a>
                </div>
                <div class="movies-box">
                    <div class="movies-img">
                        <div class="quality">HDrip</div>
                        <img src="~/Content/images/l-4.jpg" />
                    </div>
                    <a class="decription" href="#">
                        Toy story 3 (Vietsub) Chất lượng 1080
                    </a>
                </div>
                <div class="movies-box">
                    <div class="movies-img">
                        <div class="quality">HDrip</div>
                        <img src="~/Content/images/l-5.jpg" />
                    </div>
                    <a class="decription" href="#">
                        Tên phim | Chất lượng |
                    </a>
                </div>
                <div class="movies-box">
                    <div class="movies-img">
                        <div class="quality">HDrip</div>
                        <img src="~/Content/images/l-6.jpg" />
                    </div>
                    <a class="decription" href="#">
                        Tên phim | Chất lượng |
                    </a>
                </div>
                <div class="movies-box">
                    <div class="movies-img">
                        <div class="quality">HDrip</div>
                        <img src="~/Content/images/l-7.jpg" />
                    </div>
                    <a class="decription" href="#">
                        Tên phim | Chất lượng |
                    </a>
                </div>*@

                
            </section>
        @*<section>
                <div class="movies-heading">
                    <h2><a href="#">PHIM BỘ</a></h2>
                </div>
                <section id="movies-list">
                    <div class="movies-box">
                        <div class="movies-img">
                            <div class="quality">HDrip</div>
                            <img src="~/Content/images/l-1.jpg" />
                        </div>
                        <a class="decription" href="#">
                            into darkness(raw)
                        </a>
                    </div>
                    <div class="movies-box">
                        <div class="movies-img">
                            <div class="quality">HDrip</div>
                            <img src="~/Content/images/l-2.jpg" />
                        </div>
                        <a class="decription" href="#">
                            Tên phim | Chất lượng |
                        </a>
                    </div>
                    <div class="movies-box">
                        <div class="movies-img">
                            <div class="quality">HDrip</div>
                            <img src="~/Content/images/l-3.jpg" />
                        </div>
                        <a class="decription" href="#">
                            Gia đình tiền sử (Vietsub) chất lượng 720
                        </a>
                    </div>
                    <div class="movies-box">
                        <div class="movies-img">
                            <div class="quality">HDrip</div>
                            <img src="~/Content/images/l-4.jpg" />
                        </div>
                        <a class="decription" href="#">
                            Toy story 3 (Vietsub) Chất lượng 1080
                        </a>
                    </div>
                    <div class="movies-box">
                        <div class="movies-img">
                            <div class="quality">HDrip</div>
                            <img src="~/Content/images/l-5.jpg" />
                        </div>
                        <a class="decription" href="#">
                            Tên phim | Chất lượng |
                        </a>
                    </div>
                    <div class="movies-box">
                        <div class="movies-img">
                            <div class="quality">HDrip</div>
                            <img src="~/Content/images/l-6.jpg" />
                        </div>
                        <a class="decription" href="#">
                            Tên phim | Chất lượng |
                        </a>
                    </div>
                    <div class="movies-box">
                        <div class="movies-img">
                            <div class="quality">HDrip</div>
                            <img src="~/Content/images/l-7.jpg" />
                        </div>
                        <a class="decription" href="#">
                            Tên phim | Chất lượng |
                        </a>
                    </div>

                </section>
            </section>*@
    </article>
    <aside>
        <section>
            <div class="popular">
                <h2 class="popularmovie">Phim phổ biến</h2>
                <div class="mit">
                    <div class="scollItem">
                        <div class="thumbItems">
                            <img src="~/Content/images/l-1.jpg" />
                            <div class="thumbtitle">
                                <p class="thumbMovieName"><a href="#">Into darkness</a></p>
                                <div class="thumbmoviedetail">
                                    <p>Thể loại: <a href="">Hành động </a>, <a href="">Phiêu lưu</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scollItem">
                        <div class="thumbItems">
                            <img src="~/Content/images/l-1.jpg" />
                            <div class="thumbtitle">
                                <p class="thumbMovieName"><a href="#">Into darkness</a></p>
                                <div class="thumbmoviedetail">
                                    <p>Thể loại: <a href="">Hành động </a>, <a href="">Phiêu lưu</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scollItem">
                        <div class="thumbItems">
                            <img src="~/Content/images/l-1.jpg" />
                            <div class="thumbtitle">
                                <p class="thumbMovieName"><a href="#">Into darkness</a></p>
                                <div class="thumbmoviedetail">
                                    <p>Thể loại: <a href="">Hành động </a>, <a href="">Phiêu lưu</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scollItem">
                        <div class="thumbItems">
                            <img src="~/Content/images/l-1.jpg" />
                            <div class="thumbtitle">
                                <p class="thumbMovieName"><a href="#">Into darkness</a></p>
                                <div class="thumbmoviedetail">
                                    <p>Thể loại: <a href="">Hành động </a>, <a href="">Phiêu lưu</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scollItem">
                        <div class="thumbItems">
                            <img src="~/Content/images/l-1.jpg" />
                            <div class="thumbtitle">
                                <p class="thumbMovieName"><a href="#">Into darkness</a></p>
                                <div class="thumbmoviedetail">
                                    <p>Thể loại: <a href="">Hành động </a>, <a href="">Phiêu lưu</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </aside>
</div>

@Html.Partial("Login")