
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<section>
    <div class="movies-heading">
        <h2><a href="#">DANH SÁCH PHIM</a></h2>
    </div>
    <section id="movies-list">
        <div class="movies-box">
            <div class="movies-img">
                <div class="quality">HDrip</div>
                <img src="~/Content/images/l-1.jpg" />
            </div>
            <a class="decription" href="#">
                into darkness(raw)
            </a>
        </div>
        <div class="movies-box">
            <div class="movies-img">
                <div class="quality">HDrip</div>
                <img src="~/Content/images/l-2.jpg" />
            </div>
            <a class="decription" href="#">
                Tên phim | Chất lượng |
            </a>
        </div>
        <div class="movies-box">
            <div class="movies-img">
                <div class="quality">HDrip</div>
                <img src="~/Content/images/l-3.jpg" />
            </div>
            <a class="decription" href="#">
                Gia đình tiền sử (Vietsub) chất lượng 720
            </a>
        </div>
        <div class="movies-box">
            <div class="movies-img">
                <div class="quality">HDrip</div>
                <img src="~/Content/images/l-4.jpg" />
            </div>
            <a class="decription" href="#">
                Toy story 3 (Vietsub) Chất lượng 1080
            </a>
        </div>
        <div class="movies-box">
            <div class="movies-img">
                <div class="quality">HDrip</div>
                <img src="~/Content/images/l-5.jpg" />
            </div>
            <a class="decription" href="#">
                Tên phim | Chất lượng |
            </a>
        </div>
        <div class="movies-box">
            <div class="movies-img">
                <div class="quality">HDrip</div>
                <img src="~/Content/images/l-6.jpg" />
            </div>
            <a class="decription" href="#">
                Tên phim | Chất lượng |
            </a>
        </div>
        <div class="movies-box">
            <div class="movies-img">
                <div class="quality">HDrip</div>
                <img src="~/Content/images/l-7.jpg" />
            </div>
            <a class="decription" href="#">
                Tên phim | Chất lượng |
            </a>
        </div>

    </section>
</section>
<div class="btns">
    <a href="#">Trước</a>
    <a href="#">Sau</a>

</div>*@
<div class="row">
    <article>
        <section>
            <div class="movies-heading">
                <h2><a href="#">DANH SÁCH PHIM</a></h2>
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">Top xem</button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#home">Top ngày</a>
                        <a href="#about">Top tuần</a>
                        <a href="#contact">Top tháng</a>
                        @*<a href="#contact">Top all</a>*@

                    </div>
                </div>
            </div>
            <section id="movies-list">
                <div class="movies-box">
                    <div class="movies-img">
                        <div class="quality">HDrip</div>
                        <img src="~/Content/images/l-1.jpg" />
                    </div>
                    <a class="decription" href="#">
                        into darkness(raw)
                    </a>
                </div>
                <div class="movies-box">
                    <div class="movies-img">
                        <div class="quality">HDrip</div>
                        <img src="~/Content/images/l-2.jpg" />
                    </div>
                    <a class="decription" href="#">
                        Tên phim | Chất lượng |
                    </a>
                </div>
                <div class="movies-box">
                    <div class="movies-img">
                        <div class="quality">HDrip</div>
                        <img src="~/Content/images/l-3.jpg" />
                    </div>
                    <a class="decription" href="#">
                        Gia đình tiền sử (Vietsub) chất lượng 720
                    </a>
                </div>
                <div class="movies-box">
                    <div class="movies-img">
                        <div class="quality">HDrip</div>
                        <img src="~/Content/images/l-4.jpg" />
                    </div>
                    <a class="decription" href="#">
                        Toy story 3 (Vietsub) Chất lượng 1080
                    </a>
                </div>
                <div class="movies-box">
                    <div class="movies-img">
                        <div class="quality">HDrip</div>
                        <img src="~/Content/images/l-5.jpg" />
                    </div>
                    <a class="decription" href="#">
                        Tên phim | Chất lượng |
                    </a>
                </div>
                <div class="movies-box">
                    <div class="movies-img">
                        <div class="quality">HDrip</div>
                        <img src="~/Content/images/l-6.jpg" />
                    </div>
                    <a class="decription" href="#">
                        Tên phim | Chất lượng |
                    </a>
                </div>
                <div class="movies-box">
                    <div class="movies-img">
                        <div class="quality">HDrip</div>
                        <img src="~/Content/images/l-7.jpg" />
                    </div>
                    <a class="decription" href="#">
                        Tên phim | Chất lượng |
                    </a>
                </div>
                <div class="movies-box">
                    <div class="movies-img">
                        <div class="quality">HDrip</div>
                        <img src="~/Content/images/l-7.jpg" />
                    </div>
                    <a class="decription" href="#">
                        Tên phim | Chất lượng |
                    </a>
                </div>
                <div class="movies-box">
                    <div class="movies-img">
                        <div class="quality">HDrip</div>
                        <img src="~/Content/images/l-7.jpg" />
                    </div>
                    <a class="decription" href="#">
                        Tên phim | Chất lượng |
                    </a>
                </div>
                <div class="movies-box">
                    <div class="movies-img">
                        <div class="quality">HDrip</div>
                        <img src="~/Content/images/l-7.jpg" />
                    </div>
                    <a class="decription" href="#">
                        Tên phim | Chất lượng |
                    </a>
                </div>
                <div class="movies-box">
                    <div class="movies-img">
                        <div class="quality">HDrip</div>
                        <img src="~/Content/images/l-7.jpg" />
                    </div>
                    <a class="decription" href="#">
                        Tên phim | Chất lượng |
                    </a>
                </div>
                <div class="movies-box">
                    <div class="movies-img">
                        <div class="quality">HDrip</div>
                        <img src="~/Content/images/l-7.jpg" />
                    </div>
                    <a class="decription" href="#">
                        Tên phim | Chất lượng |
                    </a>
                </div>
            </section>
        </section>
        <div class="btns">
            <a href="#">Trước</a>
            <a href="#">Sau</a>

        </div>
    </article>

</div>
<script>

function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

