<!DOCTYPE html>

<html>
<head>
    <meta data-n-head="ssr" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, viewport-fit=containc">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/lightslider.css" />
    <link href="~/Content/login.css" rel="stylesheet" />
    <script src="~/Content/JQuery3.3.1.js"></script>
    <script src="~/Content/lightslider.js"></script>
    @RenderSection("css", false)
    @RenderSection("scriptstren", required: false)
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />*@

    <title>PhimHL.com</title>
</head>
<body onload="onReady()">
    <div>
        @*<section>
                <div class="logo">
                    <a href="#">PHIMHL</a>
                </div>
                <div class="nav">
                    <a href="">PhimHL</a>
                    <a href="">Thể Loại</a>
                    <a href="">Quốc Gia</a>
                    <a href="">Loại phim</a>
                    <a href="">Movie</a>
                    <a href="">TV series</a>
                    <a href="">Top IMDB</a>
                    <a href="">List a - z</a>
                    <a href="">Yêu cầu</a>
                </div>
            </section>
            <div class="searchItem">
                <div class="search">
                    <input type="text" placeholder="Nhập phim muốn tìm" />
                    <i class="fas fa-search"></i>
                </div>
                <button class="btn">Đăng nhập</button>
            </div>*@
        <nav>
            <a href="/Home/Index" class="logo"><img src="~/Content/images/proxy_form.png" /></a>
            <ul class="menu">
                <li class="has-sunmenu">
                    <a href="#">Thể loại</a>
                    <ul class="drop-menu">
                        <li><a href="#">Hành động</a></li>
                        <li><a href="#">Kinh dị</a></li>
                        <li><a href="#">Hài hước</a></li>
                        <li><a href="#">Tình cảm- Lãng mạn</a></li>
                        <li><a href="#">Viễn tưởng</a></li>
                        <li><a href="#">Cổ trang</a></li>
                        <li><a href="#">Phiêu lưu</a></li>
                        <li><a href="#">Chiến tranh</a></li>
                        <li><a href="#">Hoạt hình</a></li>
                        <li><a href="#">Hình sự</a></li>
                        <li><a href="#">Hồi hộp - Gay cấn</a></li>
                        <li><a href="#">Tâm lý</a></li>
                    </ul>
                </li>
                <li><a href="#">Quốc Gia</a> </li>
                <li><a href="#">Loại phim</a> </li>
                <li><a href="#">TV series</a> </li>
                <li><a href="~/Home/Tickets">Movie</a> </li>
                <li><a href="#">Top IMDB</a> </li>
            </ul>
            @*<li><a href="#">List a-z </a> </li>
                <li><a href="#">Yêu cầu </a> </li>*@
            <div class="search">
                <input type="text" placeholder="Nhập phim muốn tìm" />
                <i class="fas fa-search"></i>
            </div>
            @*<button class="btn"><a href="#">Đăng nhập</a></button>*@
            @{Html.RenderPartial("View"); }
            @*<li>
                    <button class="bt-login" onclick="document.getElementById('id01').style.display='block'">Login</button>
                </li>*@
        </nav>

        @*@<section id="main">
                <h1 class="showcase-heading">Phim sắp ra</h1>

                <ul id="autoWidth" class="cs-hidden">
                    <li class="item-a">
                        <div class="showcase-box">
                            <div class="showcase-box-img">
                            <img src="~/Content/images/m-1.jpg" />
                            </div>
                            <div class="showcase-box-text">
                                <strong>Tiêu đề phim</strong>
                                <p>Thể loại phim </p>
                            </div>
                        </div>
                    </li>
                    <li class="item-b">
                        <div class="showcase-box">
                            <div class="showcase-box-img">
                                <img src="~/Content/images/m-2.jpg" />
                            </div>
                            <div class="showcase-box-text">
                                <strong>Tiêu đề phim</strong>
                                <p>Thể loại phim </p>
                            </div>
                        </div>
                    </li>
                    <li class="item-c">
                        <div class="showcase-box">
                            <div class="showcase-box-img">
                                <img src="~/Content/images/m-3.jpg" />
                            </div>
                            <div class="showcase-box-text">
                                <strong>Tiêu đề phim</strong>
                                <p>Thể loại phim </p>
                            </div>
                        </div>
                    </li>
                    <li class="item-d">
                        <div class="showcase-box">
                            <div class="showcase-box-img">
                                <img src="~/Content/images/m-4.jpg" />
                            </div>
                            <div class="showcase-box-text">
                                <strong>Tiêu đề phim</strong>
                                <p>Thể loại phim </p>
                            </div>
                        </div>
                    </li>
                    <li class="item-e">
                        <div class="showcase-box">
                            <div class="showcase-box-img">
                                <img src="~/Content/images/m-5.jpg" />
                            </div>
                            <div class="showcase-box-text">
                                <strong>Tiêu đề phim</strong>
                                <p>Thể loại phim </p>
                            </div>
                        </div>
                    </li>
                    <li class="item-f">
                        <div class="showcase-box">
                            <div class="showcase-box-img">
                                <img src="~/Content/images/m-6.jpg" />
                            </div>
                            <div class="showcase-box-text">
                                <strong>Tiêu đề phim</strong>
                                <p>Thể loại phim </p>
                            </div>
                        </div>
                    </li>
                </ul>


            </section>*@
        <div>
            @RenderBody()
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>Trang liên kết</h4>
                        <ul>
                            <li><a href="#">Phimmoi</a></li>
                            <li><a href="#">Phimgi</a></li>
                            <li><a href="#">Phim1080</a></li>
                            <li><a href="#">Anime47</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Hỗ trợ</h4>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">return</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Shop phụ kiện</h4>
                        <ul>
                            <li><a href="#">Shoppe</a></li>
                            <li><a href="#">Lazada</a></li>
                            <li><a href="#">Tiki</a></li>
                            <li><a href="#">Amazon</a></li>


                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Follow us</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/Scripts/loginsignup.js"></script>
    <script>
        $(document).ready(function () {
            $('#autoWidth').lightSlider({
                autoWidth: true,
                loop: true,
                onSliderLoad: function () {
                    $('#autoWidth').removeClass('cS-hidden');
                }
            });
        });
    </script>
    @RenderSection("scriptsduoi", required: false)
</body>
</html>
